@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
	font-family: 'Roboto', sans-serif;
  
}
i {
	margin-right: 10px;
}
/*----------multi-level-accordian-menu------------*/
.navbar-custom{
  height: 40px;
}
.nav-center{
  margin-left: -1px;
 
}
.nav-rest{
  margin-left: 300px;
}
.navbar-logo{
	padding: 15px;
	color: #fff;
    
}
.navbar-logo:hover{
    text-decoration: none;
    color: white;
}
.navbar-mainbg{
  background: linear-gradient(#2575fc, #6a11cb);
	padding: 0px;
	
}
#navbarSupportedContent ul{
	padding: 0px;
	margin: 0px;
}
#navbarSupportedContent ul li a i{
	margin-right: 10px;
}
#navbarSupportedContent li {
	list-style-type: none;
	float: left;
}
#navbarSupportedContent ul li a{
	color: white;
    text-decoration: none;
    font-size: 15px;
    display: block;
    padding: 20px 20px;
    transition-duration:0.6s;
	transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#navbarSupportedContent a:not(:only-child):after {
	content: "\f105";
	right: 20px;
	top: 1px;
	font-size: 14px;
	font-family: "Font Awesome 5 Free";
	display: inline-block;
	padding-right: 3px;
	vertical-align: middle;
	font-weight: 900;
	transition: 0.5s;
}
#navbarSupportedContent .active>a:not(:only-child):after {
	transform: rotate(90deg);
}

.nav-link{
  cursor: pointer;
}

.carousel-cell{
	width: 100%;

}

.carousel-cell:before{
	display: block;
}

.carousel{
	margin-right: -10px;
  margin-top: 40px;
}

/* no circle */
.flickity-button {
	background: transparent;
  }
  /* big previous & next buttons */
  .flickity-prev-next-button {
	width: 100px;
	height: 100px;
  }
  /* icon color */
  .flickity-button-icon {
	fill:white;
  }
  /* hide disabled button */
  .flickity-button:disabled {
	display: none;
  }

  .flickity-button:hover{
	  background: none;
  }

  .flickity-page-dots .dot{
	  display: none;
  }

@media(min-width: 992px){
	.navbar-expand-custom {
	    -ms-flex-flow: row nowrap;
	    flex-flow: row nowrap;
	    -ms-flex-pack: start;
	    justify-content: flex-start;
	}
	.navbar-expand-custom .navbar-nav {
	    -ms-flex-direction: row;
	    flex-direction: row;
	}
	.navbar-expand-custom .navbar-toggler {
	    display: none;
	}
	.navbar-expand-custom .navbar-collapse {
	    display: -ms-flexbox!important;
	    display: flex!important;
	    -ms-flex-preferred-size: auto;
	    flex-basis: auto;
	}
}

/* CARD CSS */
:root {
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
  --font-sans: "Rubik", sans-serif;
  --font-serif: "Cardo", serif;
}
.page-content-cat {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  max-width: 1024px;
  margin: 0 auto;
  font-family: var(--font-sans);
}
@media (min-width: 600px) {
  .page-content-cat {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 800px) {
  .page-content-cat {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card-cat {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  color: whitesmoke;
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1), 0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 16px 16px rgba(0, 0, 0, 0.1);
}
@media (min-width: 600px) {
  .card-cat {
    height: 350px;
  }
}
.card-cat:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.card-cat:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.009) 11.7%, rgba(0, 0, 0, 0.034) 22.1%, rgba(0, 0, 0, 0.072) 31.2%, rgba(0, 0, 0, 0.123) 39.4%, rgba(0, 0, 0, 0.182) 46.6%, rgba(0, 0, 0, 0.249) 53.1%, rgba(0, 0, 0, 0.32) 58.9%, rgba(0, 0, 0, 0.394) 64.3%, rgba(0, 0, 0, 0.468) 69.3%, rgba(0, 0, 0, 0.54) 74.1%, rgba(0, 0, 0, 0.607) 78.8%, rgba(0, 0, 0, 0.668) 83.6%, rgba(0, 0, 0, 0.721) 88.7%, rgba(0, 0, 0, 0.762) 94.1%, rgba(0, 0, 0, 0.79) 100%);
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.card-cat:nth-child(1):before {
  background-image: url(https://images.unsplash.com/photo-1517021897933-0e0319cfbc28?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card-cat:nth-child(2):before {
  background-image: url(https://images.unsplash.com/photo-1533903345306-15d1c30952de?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card-cat:nth-child(3):before {
  background-image: url(https://images.unsplash.com/photo-1545243424-0ce743321e11?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}
.card-cat:nth-child(4):before {
  background-image: url(https://images.unsplash.com/photo-1531306728370-e2ebd9d7bb99?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=400&fit=max&ixid=eyJhcHBfaWQiOjE0NTg5fQ);
}

.content-cat {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.content-cat > * + * {
  margin-top: 1rem;
}

.title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}

.copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}

.btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background-color: black;
  border: none;
}
.btn:hover {
  background-color: #0d0d0d;
}
.btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (hover: hover) and (min-width: 600px) {
  .card:after {
    transform: translateY(0);
  }

  /*HEREEEEEEEEEEEEEEEEE*/
  .content-cat {
    transform: translateY(calc(100% - 4.5rem));
  }
  .content-cat > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }

  .card-cat:hover,
.card-cat:focus-within {
    align-items: center;
  }
  .card-cat:hover:before,
.card-cat:focus-within:before {
    transform: translateY(-4%);
  }
  .card-cat:hover:after,
.card-cat:focus-within:after {
    transform: translateY(-50%);
  }
  .card-cat:hover .content-cat,
.card-cat:focus-within .content-cat {
    transform: translateY(0);
  }
  .card-cat:hover .content-cat > *:not(.title),
.card-cat:focus-within .content-cat > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }

  .card-cat:focus-within:before, .card-cat:focus-within:after,
.card-cat:focus-within .content-cat,
.card-cat:focus-within .content-cat > *:not(.title) {
    transition-duration: 0s;
  }
}

@import url(https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,700);
.snip1418 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
  min-width: 130px;
  max-width: 255px;
  width: 100%;
  background: #ffffff;
  text-align: left;
  color: #000000;
  box-shadow: 1px 1px 5px;
  font-size: 16px;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-perspective: 20em;
  perspective: 20em;
}
.snip1418 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}
.snip1418 img {
  cursor: pointer;
  max-width: 100%;
  vertical-align: top;
  position: relative;
}
.snip1418 .add-to-cart {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 10px;
  color: #ffffff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.9em;
  opacity: 0;
  background-color: #2575fc;
  -webkit-transform: rotateX(-90deg);
  transform: rotateX(-90deg);
  -webkit-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}
.snip1418 .add-to-cart i {
  cursor: pointer;
  display: inline-block;
  margin-right: 10px;
  width: 40px;
  line-height: 5px;
  text-align: center;
  background-color: #164666;
  color: #ffffff;
  font-size: 1.4em;
}
.snip1418 figcaption {
  cursor: pointer;
  padding: 20px;
}
.snip1418 h3,
.snip1418 p {
  cursor: pointer;
  margin: 0;
}
.snip1418 h3 {
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
  text-transform: uppercase;
}
.snip1418 p {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 400;
}
.snip1418 .price {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 40px;
  letter-spacing: 1px;
}
.snip1418 .price s {
  margin-right: 5px;
  opacity: 0.5;
  font-size: 0.9em;
}
.snip1418 a {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.snip1418:hover .add-to-cart,
.snip1418.hover .add-to-cart {
  opacity: 1;
  -webkit-transform: rotateX(0deg);
  transform: rotateX(0deg);
}
.snip1418:hover .add-to-cart i,
.snip1418.hover .add-to-cart i {
  background-color: #2980b9;
}
.column{
  float:left;
  width: 20%;
  padding-top: 10px;
  margin-top: -1%;
}
.grid-top-products{
  padding: 9px;
  
}
.top-products{
  margin-top: 10px;
}
.new-arrivals-img,.aboutus-img{
  margin-top: 10px;
}
.footer {
  width: 100%;
  position: relative;
  height: auto;
  background-color: white;
  margin-left: 15%;
}
.footer .col {
  width: 290px;
  height: auto;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0px 20px 20px 20px;
}
.footer .col h1 {
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: 16px;
  line-height: 17px;
  padding: 20px 0px 5px 0px;
  color:black;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  width: 300px;
}
.footer .col ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.footer .col ul li {
  color: #828282;
  font-size: 14px;
  font-family: inherit;
  font-weight: bold;
  padding: 5px 0px 5px 0px;
  cursor: pointer;
  transition: .2s;
  -webkit-transition: .2s;
  -moz-transition: .2s;
}
.social ul li {
  display: inline-block;
  padding-right: 5px !important;
}

.footer .col ul li:hover {
  color: #3b3b3b;
  transition: .1s;
  -webkit-transition: .1s;
  -moz-transition: .1s;
}
.clearfix {
  clear: both;
}
@media only screen and (min-width: 1280px) {
  .contain {
    width: 1200px;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1139px) {
  .contain .social {
    width: 1000px;
    display: block;
  }
  .social h1 {
    margin: 0px;
  }
}
@media only screen and (max-width: 950px) {
  .footer .col {
    width: 33%;
  }
  .footer .col h1 {
    font-size: 14px;
  }
  .footer .col ul li {
    font-size: 13px;
  }
}
@media only screen and (max-width: 500px) {
    .footer .col {
      width: 50%;
    }
    .footer .col h1 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
}
@media only screen and (max-width: 340px) {
  .footer .col {
    width: 100%;
  }
}
.sub-navbar ul{
  list-style: none;
  margin-left: 30%;
  margin-top: 1.5%;
  padding: 0;
  
}
.sub-navbar li{
  display: inline-block;
}
.sub-navbar a{
  font-size: 18px;
  text-decoration: none;
  display: block;
  width: 100px;
  text-align: center;
  cursor: pointer;
}

hr.solid{
  margin-top: -1%;
  border-top: 5px solid;
  color:blue;
}
.dog-subpage,.cat-subpage,.fish-subpage,.bird-subpage{
    display: none;
}
.dog-subpage,.cat-subpage,.fish-subpage,.bird-subpage{
    margin-top: -5%;
}
/* css for cart */
#cart-icon{
	width:25px;
	display: inline-block;
	margin-left: 15px;
}

#cart-total{
	display: block;
	text-align: center;
	color:#fff;
	background-color: red;
	width: 20px;
	height: 25px;
	border-radius: 50%;
	font-size: 14px;
}

.box-element{
	box-shadow:hsl(0, 0%, 80%) 0 0 16px;
	background-color: #fff;
	border-radius: 4px;
	padding: 10px;
}

.cart-row{
	display: flex;
    align-items: flex-stretch;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ececec;
}
.row-image{
	width: 100px;
}

.quantity{
	display: inline-block;
	font-weight: 700;
	padding-right:10px;
}

.chg-quantity{
	width: 12px;
	cursor: pointer;
	display: block;
	margin-top: 5px;
	transition:.1s;
}

.new-arrivals{
  margin-top: 10px;
}

.cool-address p span{
  display: block;
  line-height: 2px;
}

.grid-products{
  margin-top: 10%;
  padding-right: 10px;
}
.col ul .special-footer{
  color: black !important;
  cursor: default !important;
}
.col ul .footer-link:hover{
  text-decoration: none;
  color: #3b3b3b !important;
}

/* Style the search field */
form.example input[type=text] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
  height: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
}

/* Style the submit button */
form.example button {
  float: left;
  width: 20%;
  padding: 5px;
  background: #5bec07;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none; /* Prevent double borders */
  cursor: pointer;
  height: 35px;
  margin-top: 2px;
  margin-bottom: 2px;
}

form.example button:hover {
  background: #0a8d10;
}

/* Clear floats */
form.example::after {
  content: "";
  clear: both;
  display: table;
}