{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'signup.css' %}">
    <title>Signup</title>
</head>
<body>
    <div class="login-box" style="background-image: linear-gradient(to bottom, #5e87a6, #769bb9, #8db0cc, #a5c5e0, #bddbf4);">
        <h2 style="font-size: 40px;">SIGNUP</h2>
        <form>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Full Name</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Email</label>
          </div>
          <div class="user-box">
            <input type="text" name="" required="">
            <label>Username</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Password</label>
          </div>
          <div class="user-box">
            <input type="password" name="" required="">
            <label>Confirm Password</label>
          </div>
          <div class="user-box">
            <input type="tel" name="" required="">
            <label>Phone no</label>
          </div>

         
          
        
          <a class="submit-button" href="#">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Submit
          </a>
          <a class="signup-text" href="login.html" style="text-decoration: none;"><p class="inside-p-tag">Already have an account? Login!</p></a>
        </form>
       
      </div>
      
</body>
</html>






